/*IMPOSTAZIONI GENERALI*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap");
p {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  color: black;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #25a2c3;
  padding-top: 3em;
  padding-bottom: 1em;
}

h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  padding-top: 3em;
}

h4 {
  color: #25a2c3;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

button {
  background-color: #f04c2f;
  color: #fff;
  border: none;
  border-radius: 3px;
  height: 3em;
  width: 9.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 3em;
  font-size: 1.2rem;
}

/*HEADER*/
header {
  background-color: black;
  height: 7em;
  color: #fff;
}

#logo {
  height: 4em;
  margin-top: 1.5em;
  margin-left: 3em;
}
/*NAVIGATION*/
nav {
  height: 34em;
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: ;
  text-align: center;
  margin-bottom: 10em;
}
/*MAIN*/

/*SECTION*/

/*benefits*/
#benefits {
  height: 35em;
  border: ;
  text-align: center;
  margin: 0 auto;
  margin-left: 4rem;
}

.bsquare {
  border: ;
  width: 45%;
  height: 10em;
  margin: 1.66%;
  float: left;
  padding-bottom: 30%;
  text-align: left;
}

.square {
  background: ;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding-bottom: 30%;
}

#notebook {
  width: 390px;
  height: 390px;
  background-image: url(/images/notebook.jpg);
  background-size: cover;
  display: block;
  border-radius: 200px;
  margin-left: 11.2em;
  margin-right: 5em;
}

/*orangebox*/

#orangebox {
  background-color: #e22d0e;
  height: 30em;
  color: #fff;
  text-align: center;
}

#orangeblock {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 2rem;
  padding-top: 1em;
  line-height: 1.65;
}

#orangep {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  padding-top: 1em;
  padding-bottom: 0.4em;
  color: #fff;
}

#orangep2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
  color: #fff;
}

/*Requirements*/
.requirementsdiv {
  box-sizing: border-box;
  width: auto;
  border: solid #dee1e3 1px;
  padding: 0px;
  text-align: center;
}

#requirements {
  height: 40em;
  border: ;
  text-align: center;
}

.square {
  background: ;
  width: 30%;
  margin: 1.66%;
  float: left;
  padding-bottom: 0%;
}

#pcimg {
  width: auto;
  height: 330px;
  background-image: url(/images/foto1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 28.3em auto;
}

#imparaora {
  width: auto;
  height: 330px;
  background-image: url(/images/foto2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

#lavorasubito {
  width: auto;
  height: 330px;
  background-image: url(/images/foto3.jpg);
  background-size: contain;
  background-size: 30.7em;
  background-repeat: no-repeat;
  text-align: center;
}

/*FOOTER*/
footer {
  text-align: center;
  height: 30em;
  background-color: #25a2c3;
  border: ;
}

hr {
  width: 25em;
}

#fh1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  padding-top: 2.5em;
  padding-bottom: 1em;
  color: #fff;
  text-align: left;
  padding-left: 35rem;
}

.footerp {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0.6em;
  padding-left: 35rem;
  text-decoration: underline;
}

#footercopy {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
  color: #fff;
}

a,
i {
  color: #fff;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
